[advisories]
ignore = [
    "RUSTSEC-2024-0384", # instant is unmaintained
    "RUSTSEC-2024-0436", # paste - no longer maintained
    "RUSTSEC-2025-0012", # backoff is unmaintained
    "RUSTSEC-2025-0134", # rustls-pemfile is unmaintained
]

[licenses]
allow = [
    "Apache-2.0",
    "BSD-3-Clause",
    "BSL-1.0",
    "CDLA-Permissive-2.0",
    "ISC",
    "MIT",
    "MPL-2.0",
    "Unicode-3.0",
]

[bans]
deny = [
    "openssl",
]
